@import services._
@(items: Seq[PerformanceInfo])

<html>
    <head>
        <title>ジャニーズ みんなのコンサートレポ</title>
    </head>
    <body>
        <section>
            <h1>公演 一覧</h1>
            <table>
                <thead>
                    <tr>
                        <th>日程</th>
                        <th>開演時間</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @items.map { performanceInfo =>
                        <tr>
                            <td>@performanceInfo.date</td>
                            <td>@performanceInfo.time</td>
                            <td><a href="@controllers.routes.PerformanceInfoController.performanceInfoEdit(performanceInfo.id.get)">公演情報 編集</a></td>
                            <td><a href="">詳細</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <br>
            <a href="@controllers.routes.PerformanceInfoController.performanceInfoNew()">登録画面</a>
        </section>
    </body>
</html>